<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verification proccesing</title>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>
      We just need to verify your email address before you can access Temari-bet
      tutor portal. We have sent a link to your email account.
    </p>
    <p>Refresh this page after verification.</p>
    <p>Thanks!</p>
    <p>From Temari-bet team.</p>
  </body>
</html>
